{% extends "base.html" %}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th>Staff</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {% for s in staff %}
    <tr>
      <td>{{s}}</td>
      <td><a href="/modules/{{s.id}}"><button type="button" class="btn btn-primary">View Modules</button></a></td>
      <td><a href="/edit_staff/{{s.id}}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a href="/delete_staff/{{s.id}}"><button type="button" class="btn btn-primary">Delete</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
