{% extends "base.html" %}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Year</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>


    {% for student in students %}
    <tr>
      <td>{{student.firstname}}</td>
      <td>{{student.surname}}</td>
      <td>{{student.year}}</td>
      <td><a href="/edit_student/{{student.studentId}}"><button type="button" class="btn btn-primary">Edit</button></a></td>
      <td><a href="/delete_student/{{student.studentId}}"><button type="button" class="btn btn-primary">Delete</button></a></td>
      <td><a href="/modules/students/{{student.studentId}}"><button type="button" class="btn btn-primary">View Modules</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
