{% extends "base.html" %}
{% block content %}

<h3>Uncomplete Assessments</h3>
<table class = "table table-sm"">
{% for a in assessments %} <!--Loop through each item in assessments-->
<thead class = "table-light">
    <th></th>
    <tr>
        <td><b>{{a.title}}</b></td> <!--Display title (in bold)-->
    </tr>
    <tr>
        <td>Module Code: {{a.module_code}}</td> <!--Display module code-->
    </tr>
    <tr>
        <td>Deadline: {{a.deadline.strftime('%d/%m/%Y')}}</td> <!--Display deadline with formatted Date-->
    </tr>
    <!--Display status-->
    <tr>
        <!--If status is False -> display 'Uncomplete'-->
        {% if a.status == False %}
            <td>Status: Uncomplete</td>    
        <!--Else status is True -> display 'Complete'-->
        {% else %}
            <td>Status: Complete</td>    
        {% endif %}
    </tr>
    <tr>
        <td>{{a.description}}</td> <!--Display description-->
    </tr>
    <tr>
        <td>
            <!--Create form-->
            <form action="" method="post" name="markAsComplete{{a.id}}">
                <!--Create 'Mark as Complete' button-->
                <input type="submit" class="btn btn-primary" value="Mark as Complete" name = "{{a.id}}"> <!--Button's name is the assessment ID - used to determine which button was pressed-->
            </form>
        </td>
    </tr>
</thead>
{% endfor %}
</table>
{% endblock %}