{% extends "base.html" %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Calculator</h1>
<form action="" method="post" name="calculator">
    {{ form.hidden_tag() }}
    <p>
       {{ form.number1 }}<br>
       {% for error in form.number1.errors %}
  	[{{ error }}]
 	{% endfor %}
    </p>
    <p>
    	{{ form.number2 }}</p>
    	{% for error in form.number2.errors %}
  	[{{ error }}]
 	{% endfor %}
    <p><input type="submit" value="Calculate"></p>
</form>
{% endblock %}
