<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome-free-5.3.1-web/css/all.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='like.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='filter.js') }}" ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="/">
                <img src="/static/logos/logo2.png" width="45" height="30" class="d-inline-block align-top" alt="">
                Footbook
            </a>
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="/createPost">Create Post</a></li>
            <li class="nav-item"><a class="nav-link" href="/friends">Friends</a></li>
            {% endif %}
        </ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <!-- <li class="navbar-text"><a class="nav-link" href="/profile"><i class="far fa-user"></i> Profile</a></li> -->
            <form class="form-inline" action="/profile">
                <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="far fa-user"></i> Profile</button>
            </form>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <form class="form-inline" action="/login">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </form>
            &nbsp;
            <form class="form-inline" action="/signup">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Sign Up</button>
            </form>
            <!-- <li class="navbar-text"><a class="nav-link" href="/login">Login</a></li> -->
            <!-- <li class="navbar-text"><a class="nav-link" href="/signup">Sign Up</a></li> -->
            {% endif %}
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row"> 
        <div class="col col-1"></div>
          <div class="col col-12"> <!-- Set row width to %100-->
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>



  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
