{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-success">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<h3>My Friends</h3>
<table class = "table table-sm">
{% for friend in friends %}
<thead class = "table-light">
    <th></th>
    <tr>
        <td><b><a href="/viewProfile/{{friend.username}}">{{friend.username}}</a></b></td> <!--Display username (in bold)-->
    </tr>
    <tr>
        <td>Team: {{friend.team}}</td> <!--Display team-->
    </tr>
    <tr>
        <td>
            <form action="" method="post" name="removeFriend{{friend.id}}">
                <input type="submit" class="btn btn-secondary" value="Remove Friend" name="r{{friend.id}}"> <!--Button's name is the user ID - used to determine which button was pressed-->
            </form>
        </td>
    </tr>
</thead>
{% endfor %}
</table>

<h3>Add Friends</h3>
<table class = "table table-sm">
{% for user in users %} <!--Loop through each item in users-->
<thead class = "table-light">
    <th></th>
    <tr>
        <td><b><a href="/viewProfile/{{user.username}}">{{user.username}}</a></b></td> <!--Display username (in bold)-->
    </tr>
    <tr>
        <td>Team: {{user.team}}</td> <!--Display team-->
    </tr>
    <tr>
        <td>
            <form action="" method="post" name="addFriend{{user.id}}">
                <input type="submit" class="btn btn-primary" value="Add Friend" name="a{{user.id}}"> <!--Button's name is the user ID - used to determine which button was pressed-->
            </form>
        </td>
    </tr>
</thead>
{% endfor %}
</table>
{% endblock %}