{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<h3 class="mb-3">Login</h3>

<!--Centre form in screen with column width of 8-->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-6"></div>
      <div class="col col-8">

<!--Create form:-->
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}

    <div class="mb-3"> <!--Bottom padding spacing-->
      <label> Email </label>
    <!--Load field from field-->
    {{ form.email(class_='form-control') }}
    <!--Validate input-->
    {% for error in form.email.errors %}
      <div class="alert alert-danger" role="alert">
        [{{ error }}]
      </div>
    {% endfor %}
    </div>

    <div class="mb-3"> <!--Bottom padding spacing-->
      <label> Password </label>
    <!--Load field from field-->
    {{ form.password(class_='form-control') }}
    <!--Validate input-->
    {% for error in form.password.errors %}
      <div class="alert alert-danger" role="alert">
        [{{ error }}]
      </div>
    {% endfor %}
    </div>

    <div class="mb-3"> <!--Bottom padding spacing-->
        <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
        </label>
    </div>
    
    <div class="mb-3"></div> <!--Bottom padding spacing-->
      <!--Submit Button-->
      <input type="submit" class="btn btn-primary" value="Login">
  </div>
</form>
</div>
</div>
</div>
{% endblock %}