{% extends "base.html" %}

{% block content %}
<h3 class="title">
  Hello, <b>{{ username }}</b>!
</h3>
<h6>Favorite Team:<b> {{ current_user.team }}</b><h6>
<form action="" method="post" name="logout">
    <!--Create 'Mark as Complete' button-->
    <input type="submit" class="btn btn-primary" value="Logout" name = "l">
    <input type="submit" class="btn btn-secondary" value="Change Password" name = "c">
</form>

<br></br>
<h3>Recent Posts</h3>

<table class = "table table-sm">
    {% for post in posts %} <!--Loop through each item in posts-->
    <thead class = "table-light">
        <th></th>
        <tr>
            <td><b>{{post.title}}</b></td> <!--Display title (in bold)-->
        </tr>
        <tr>
            <td>{{post.description}}</td> <!--Display description-->
        </tr>
        <tr>
            <td><i>~ {{post.dateTimePosted.strftime("%d/%m/%y - %H:%M")}}</i></td> <!--Display description-->
        </tr>
        <tr>
            <td>
                {% if post not in current_user.liked %}
                <button class="btn btn-light" name="like" value={{post.id}} id=like{{post.id}}><i class="far fa-thumbs-up"></i> {{(post.likes| length)}} </button>
                {% else %}
                <button class="btn btn-success" name="like" value={{post.id}} id=like{{post.id}}><i class="far fa-thumbs-up"></i> {{(post.likes| length)}} </button>
                {% endif %}
    
                {% if post not in current_user.disliked %}
                <button class="btn btn-light" name="dislike" value={{post.id}} id=dislike{{post.id}}><i class="far fa-thumbs-down"></i> {{(post.dislikes| length)}} </button>
                {% else %}
                <button class="btn btn-danger" name="dislike" value={{post.id}} id=dislike{{post.id}}><i class="far fa-thumbs-down"></i> {{(post.dislikes| length)}} </button>
                {% endif %}
            </td>
        </tr>
    </thead>
    {% endfor %}
    </table>
    {% endblock %}