{% extends "base.html" %}

{% block content %}
<h3 class="title">
  {{ user.username }}'s profile
</h3>

<h6>Favorite Team: {{ user.team }}<h6>

<br></br>
<h3>Recent Posts</h3>

<table class = "table table-sm">
    {% for post in posts %} <!--Loop through each item in posts-->
    <thead class = "table-light">
        <th></th>
        <tr>
            <td><b>{{post.title}}</b></td> <!--Display title (in bold)-->
        </tr>
        <tr>
            <td>{{post.description}}</td> <!--Display description-->
        </tr>
        <tr>
            <td>
                {% if post not in current_user.liked %}
                <button class="btn btn-light" name="like" value={{post.id}} id=like{{post.id}}><i class="far fa-thumbs-up"></i> {{(post.likes| length)}} </button>
                {% else %}
                <button class="btn btn-success" name="like" value={{post.id}} id=like{{post.id}}><i class="far fa-thumbs-up"></i> {{(post.likes| length)}} </button>
                {% endif %}
    
                {% if post not in current_user.disliked %}
                <button class="btn btn-light" name="dislike" value={{post.id}} id=dislike{{post.id}}><i class="far fa-thumbs-down"></i> {{(post.dislikes| length)}} </button>
                {% else %}
                <button class="btn btn-danger" name="dislike" value={{post.id}} id=dislike{{post.id}}><i class="far fa-thumbs-down"></i> {{(post.dislikes| length)}} </button>
                {% endif %}
            </td>
        </tr>
    </thead>
    {% endfor %}
    </table>
    {% endblock %}